// ----------------------------------------------------------------------------
// Widget-github-status styles
// ----------------------------------------------------------------------------
.widget-github-status {
    background: #2A455C url("/assets/invertocat.png") no-repeat center;
    position: relative;
    overflow: hidden;
    &.good {color:rgb(37, 77, 50); font-weight: bold}
    &.minor {color:#f29d50; font-weight: bold}
    &.major {color:#c30; font-weight: bold}

    div {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #latest-message{
        top: 25px;
        margin: 0 5px;
        #message {
            background:#ccc;
            border-radius:3px;
            &.good {
              background: rgba(0,0,0,0);
            }
            &.minor {
              background:rgba(0,0,0,0);
            }
            &.major {
              background:rgba(0,0,0,0);
            }
        }
    }

    #github-logo{
	bottom: 20px;
	height:54px;
	width: 250px;
	background-size: 100% !important;
	&.good { background: url("/assets/images/logo-good.png"); }
	&.minor { background: url("/assets/images/logo-minor.png"); }
	&.major { background: url("/assets/images/logo-major.png"); }
    }

    .updated-at {
	color: rgba(255, 255, 255, 0.7);
    }
}