$background-color: #35E1D1;

$title-color: #FFFFFF;
$subtitle-color: #C0F5E5;

.widget-text{
    .title{
        color: $title-color;
    }
    
    .subtitle{
        color: $title-color;
    }
}

.user-commit{
    color: $subtitle-color;
}