$background-color: #35E1D1;

$title-color: #FFFFFF;
$subtitle-color: #C0F5E5;

.widget-text{
    background-color: $background-color;
    
    .title{
        color: $title-color;
    }
    
    .subtitle{
        color: $title-color;
        line-height: 20px;
    }
    .user-commit{
        color: $subtitle-color;
        margin-top: 30px;
    }
}