<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="5" data-sizey="1" class="dashboard-title">
        <div style="background-color: #222222" style="display:block; text-align: center">Projects Dashboard</div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="4">
        <div data-id="charlottechen1993/devops_dashboard" data-view="GithubStats" style="background-color: rgb(37, 77, 50)" onclick="location.href='/sample'" class="project-board"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="4">
        <div data-id="driabwb/devops-dashboard-Sample-Project" data-view="GithubStats" style="background-color: #04869D" class="project-board"></div>
  </ul>
</div>
