<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":5,"size_x":2,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":2},{"col":1,"row":1,"size_x":2,"size_y":1},{"col":2,"row":2,"size_x":2,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":2,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1}]')
 });
 </script>

<% content_for :title do %>My super sweet dashboard
    <% end %>
        <div class="gridster">
            <ul>
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
                </li>

                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">

                    <div data-id="charlottechen1993/devops_dashboard" data-view="GithubStats" style="background-color: #c0ffd0"></div>
                </li>
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <div data-id="driabwb/devops-dashboard-Sample-Project" data-view="GithubStats" style="background-color: #c0ffd0"></div>
                </li>

                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">

                    <div data-id="github_graph" data-view="Graph" data-title="This is a github commit graph" style="background-color:#ff9618"></div>
                </li>
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <div data-id="mychart" data-view="GoogleLine" data-title="My Chart"></div>
                </li>
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <div data-id="github-user" data-view="GithubUser" data-title="Github Commit Per User" data-text="This is an experiment taken by Charlotte" data-commit_per_user="10" style="background-color:#35E1D1"></div>
                </li>
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <div data-id="convergence" data-view="Graph" data-title="Jenkins buids per day - example by Candess"></div>
                </li>
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <div data-id="github_status" data-view="GithubStatus" data-title="GitHub Status" style="background-color:#31E161"></div>
                </li>
            </ul>
            <center>
                <div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://
                    <%=request.host%>:
                        <%=request.port%>/widgets/welcome</div>
            </center>
        </div>
