<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":2,"size_y":1},{"col":1,"row":4,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":2,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":5,"row":2,"size_x":1,"size_y":1}]')
 });
 </script>
<!--Import javascript files for widget goodness -->
<% content_for :title do %>DevOps Dashboard - CCBCMS
    <% end %>
        <div class="gridster">
            <ul>
                <!--  countdown -->
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <div data-view="Countdown" data-title="Finish Dashboard!" data-end="06-sep-2016 14:00:00"></div>
                </li>
                <!--  github_stats  -->
                 <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
                    <div data-id="driabwb/devops-dashboard-Sample-Project" data-view="GithubStats" style="background-color: #659C22"></div>
                </li>
                <!--  jenkins_graph  -->
                <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
                    <div data-id="barchart" data-view="BarChart" data-title="Bar Chart" data-moreinfo=""></div>
                </li>
                <!--  github_line  -->
                <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
                    <div data-id="commits_line_chart" data-view="GoogleLine" data-title="Commits per Day"></div>
                </li>
                <!-- participation -->
                <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
                    <div data-id="charlottechen1993/devops_dashboard" data-view="List" data-title="Commits per User" style="background-color:#9C2230"></div>
                </li>
                <!--  github_status -->
                <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
                    <div data-id="github_status" data-view="GithubStatus" data-title="GitHub Status" style="background-color:#31E161"></div>
                </li>

                <!--  countdown -->
                <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
                   <div data-view="Countdown" data-title="GoHomeTime!" data-end="1-sept-2016 17:00:00"></div>
                </li>
                <!-- jenkins column chart -->
                <li data-row="5" data-col="2" data-sizex="2" data-sizey="1">
                    <div data-id="column_chart" data-view="GoogleColumn" data-title="Jenkins Build Chart"></div>
                </li>
                <!-- news_feed -->
                <li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
                    <div data-id="news_feed" data-view="List" data-title="Last 5 GitHub Commits" style="background-color:#A23F88"></div>
                </li>
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <div data-id="my-trello-board" data-view="List" data-title="Trello Board"></div>
                    <i class="icon-trello icon-background"></i>
                </li>
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <div data-id="back" data-view="Back" data-title="Return to the List of Projects" data-interval="30" onclick="location.href='/projects'"></div>
                </li>
                <!-- jenkins build widget -->
                <!--
                <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
                    <div data-id="JOB" data-view="JenkinsBuild" data-title="BUILD" data-min="0" data-max="100"></div>
                </li>

                 Github weighted charts
                <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
                    <div data-id="myChart" data-view="ChartSample" data-title="Chart"></div>
                </li>
                <li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
                    <div data-id="news_feed" data-view="List" data-title="Last 5 GitHub Commits" style="background-color:#31E161"></div>
                </li>
                -->
            </ul>
        </div>
