// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-countdown {

  background-color: $background-color;

  h3 { font-size: 1em;}

  h2 { 
      font-size: 1.9em;
    }

  .countdown-time {
    margin-top: 10px;
    color: gold;
    font-size: 1.5em;
      font-weight: bold;
  }

  .before-more-info {
    font-size: 15px;
//    position: absolute;
    font-weight: normal;
//    left: 0;
//    right: 0;
  }
    
    .more-info{
        font-weight: normal;
        position: static;
    }
}
