// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #96c161;
// ----------------------------------------------------------------------------
// Widget-GoogleGauge styles
// ----------------------------------------------------------------------------
.widget-google-line {
    background-color: $background-color;
    position: relative;
    .title {
        position: absolute;
        top: 5px;
        left: 0px;
        right: 0px;
    }
    .chart {
        position: absolute;
        left: 0px;
        top: 0px;
    }
}